proxmox_endpoint  = "https://192.168.1.180:8006/"
proxmox_api_token = "tfbuilduser@pve!terraform_2025=<YOUR_TOKEN_SECRET>"
proxmox_insecure  = true  # Proxmox uses a self-signed cert by default

proxmox_node   = "prox"
template_vm_id = 904
datastore      = "local-lvm"
bridge         = "vmbr0"
gateway        = "192.168.1.1"
cidr_prefix    = 16

ssh_public_key = "ssh-rsa AAAA..."
