proxmox_endpoint  = "https://192.168.1.148:8006/"
proxmox_api_token = "USER@pve!TOKEN=redacted"
proxmox_insecure  = true  # Proxmox uses a self-signed cert by default

proxmox_node   = "prox"
template_vm_id = 904
datastore      = "local-lvm"
bridge         = "vmbr0"
gateway        = "192.168.1.1"
cidr_prefix    = 16

ssh_public_key = "ssh-rsa AAAA..."
